<!DOCTYPE HTML>
<html>
    <head>
        <title>Global Warming</title>
        <style>
            body{
                background-color:darkred;
            }
            h1{
                color:crimson;
                font-size:xx-large;
            }
            a{
                color:coral;
                font-size:x-large;
            }
            p{
                color:crimson;
                font-size:x-large;
            }
            li{
                color:crimson;
                font-size:x-large;
            }
        </style>
    </head>
    <body>
        <h1>What Causes Global Warming?</h1>
        <img src="Global.Warming.Tree.jpeg"><br>
        <a href="https://www.azocleantech.com/article.aspx?ArticleID=898">https://www.azocleantech.com/article.aspx?ArticleID=898</a>
        <p>Global warming makes earth warmer. Fossil fuels are one reason why global warming is happening. When they are burned, they release greenhouse gases. Greenhouse gases trap heat and make the earth warmer. Many things need to burn fossil fuels to work. Here is a list of them.</p>
        <ul>
            <li>Cars. Gasoline cars need gas. They release the greenhouse gases carbon dioxide, methane and nitrous oxide.</li>
            <a href="https://itstillruns.com/types-gases-do-cars-produce-7338969.html">https://itstillruns.com/types-gases-do-cars-produce-7338969.html</a>
            <li>Livestock manure. Livestock manure is the waste of livestock. It is used for fertilizer, soil amendment, energy source, and even construction material.</li>
            <a href="https://en.wikipedia.org/wiki/Manure">https://en.wikipedia.org/wiki/Manure</a><br>
            <a href="https://www.ncba.org/CMDocs/BeefUSA/Media/Beneficial%20Uses%20of%20Manure%20FINAL%20Aug2015.pdf">https://www.ncba.org/CMDocs/BeefUSA/Media/Beneficial%20Uses%20of%20Manure%20FINAL%20Aug2015.pdf</a>
            <li>Deforestation. when trees are cut down, they release the carbon dioxide that they stored for photosynthesis.</li>
            <a href="https://www.climatecouncil.org.au/deforestation/#:~:text=Trees%20and%20other%20plants%20absorb,atmosphere%2C%20mainly%20as%20carbon%20dioxide.">https://www.climatecouncil.org.au/deforestation/#:~:text=Trees%20and%20other%20plants%20absorb,atmosphere...</a><br>
            <a href="https://www.livescience.com/37821-greenhouse-gases.html">https://www.livescience.com/37821-greenhouse-gases.html</a>
        </ul>
        <h1>Greenhouse Gases</h1>
        <ul>
        <li>Water vapor</li>
        <li>Carbon dioxide</li>
        <li>Methane</li>
        <li>Nitrous oxide</li>
        <li>Ozone</li>
        </ul>
        <a href="https://en.wikipedia.org/wiki/Greenhouse_gas">https://en.wikipedia.org/wiki/Greenhouse_gas</a><br><br>
        <a href="2nd.Global.Warming.Page.html">Next</a>
    </body>
</html>