<!DOCTYPE HTML>
<html>
    <head>
        <title>Global Warming</title>
        <style>
            body{
                background-color:darkslategray;
            }
            h1{
                color:white;
                font-size:xx-large;
            }
            p{
                color:white;
                font-size:x-large;
            }
            li{
                color:white;
                font-size:x-large;
            }
            a{
                color:white;
                font-size:x-large;
            }
        </style>
    </head>
    <body>
        <h1>Why is Global Warming Bad?</h1>
        <p>Global Warming is Bad Because:</p>
        <ul>
        <li>Droughts, intense storms, and floods will happen more. There will be more evaporation because of the higher temperature.</li>
        <a href="https://www.climatecommunication.org/climate/global-warming/#:~:text=Global%20warming%20is%20increasing%20the,to%20higher%20temperatures%2C%20intensifies%20drought.">https://www.climatecommunication.org/climate/global-warming/#:~:text=Global%20warming%20is%20increasing%20th...</a>
        <li>Lakes and ponds will get bigger because of the floods.</li>
        <li>There will be more mosquitoes, fleas, and ticks because of the warmer weather. They can carry diseases.</li>
        <li>The rising temperatures will cause more air pollution. It will also increase airborne pollen, which is bad for those who have allargies.</li>
        <li>Many animals will become extinct. If they don't adapt quickly, they will not be able to survive the warmer weather.</li>
        <a href="https://www.nrdc.org/stories/are-effects-global-warming-really-bad">https://www.nrdc.org/stories/are-effects-global-warming-really-bad</a>
        </ul>
        <h1>Animals That Might Go Extinct Because of Global Warming:</h1>
        <ul>
        <li>Bumblebees</li>
        <li>Whales</li>
        <li>Asian elephants</li>
        <li>Giraffes</li>
        <li>Insects</li>
        <li>Ocean birds</li>
        <li>Sharks</li>
        <li>Coral reefs</li>
        <li>Monarch butterflies</li>
        <li>Great apes</li>
        </ul>
        <a href="https://www.earthday.org/how-climate-change-is-threatening-our-species/">https://www.earthday.org/how-climate-change-is-threatening-our-species/</a>
        <p>These are only a few animals that are endangered. There are many more animals that might become extinct because of climate change.</p>
        <a href="1st.Global.Warming.Page.html">Back</a>
        <a href="3rd.Global.Warming.Page.html">Next</a>
    </body>
</html>