<!DOCTYPE HTML>
<html>
    <head>
        <title>Global Warming Solution</title>
        <style>
            body{
                background-color:green;
            }
            h1{
                color:lightgreen;
                font-size:xx-large;
            }
            p{
                color:lightgreen;
                font-size:x-large;
            }
            li{
                color:lightgreen;
                font-size:x-large
            }
            a{
                color:greenyellow;
                font-size:x-large;
            }
        </style>
    </head>
    <body>
        <h1>Good News! There's a Solution!</h1>
        <p>This global warming sounds like it's too big of a problem to solve, right?</p>
        <p>It sounds so bad, people all over the world are probably hiding under their beds with a million electric fans, waiting for doom to drop on their heads.</p>
        <p>Well, good news!</p>
        <p>Nobody's doing that!(As far as I know.)</p>
        <p>Why would they when there's a solution?</p>
        <p>There are ways you can try to stop climate change.</p>
        <p>Here is a list of ways you can help stop global warming:</p>
        <ul>
            <li>Renewable energy. Renewable energy is energy that would never run out. You can get solar panels or something. Solar panels turn sunshine into energy, though they are expensive.</li>
            <li>Use less air conditioning. Air conditioning uses up a lot of energy.</li>
            <li>When you need a new refrigerator, washing machine, or other machine, look for one with an energy star label. It will tell you which ones waste the least amount of energy.</li>
            <li>Waste less water. It takes a lot of energy to pump, heat, and treat your water.</li>
            <li>Replace your lightbulbs with better ones. LED lightbulbs are okay.</li>
            <li>Don't keep a computer, phone, or other device charging. Pull out the plug when you don't need it.</li>
            <li>Use a car that doesn't use gasoline. Electric cars can charge using an outlet.</li>
            <li>Keep your car tires inflated the right way. You could waste less gas that way. Also, if you gett a new air filter, that helps too.</li>
            <li>Live in a city where you can walk to your destination. Planes, cars, and trains all release greenhouse gases. Trains are better than planes, though.</li>
            <li>Tell your friends and family to help stop global warming.</li>
        </ul>
        <a href="https://www.nrdc.org/stories/how-you-can-stop-global-warming">https://www.nrdc.org/stories/how-you-can-stop-global-warming</a><br><br>
        <iframe width="700" height="394" src="https://www.youtube.com/embed/G4H1N_yXBiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <a href="https://www.youtube.com/watch?v=G4H1N_yXBiA">https://www.youtube.com/watch?v=G4H1N_yXBiA</a><br><br>
        <a href="2nd.Global.Warming.Page.html">Back</a>
        </body>
</html>